.campo-texto {
  margin: 24px 0px; /*Margem em cima e baixo, e depois direita e esquerda */
  /* font-family: Montserrat; */
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
}

.campo-texto label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.campo-texto input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 10px;
}
